@font-face {
  font-family: 'Avenir Next Cyr Regular';
  src: url("../fonts/");
  src: url("../fonts/?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr Medium';
  src: url("../fonts/AvenirNextCyr-Medium.eot");
  src: url("../fonts/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.features {
  text-align: center;
  margin-bottom: 70px;
}

.features-title {
  text-transform: uppercase;
  font-family: 'Bebas';
  font-size: 40px;
  color: #1a1a1a;
  letter-spacing: 2px;
  margin-bottom: 70px;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-block__image {
  width: 90px;
  margin: 20px 0;
}

.features-block__item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.features-block__text {
  font-family: 'Avenir Next Cyr Medium';
  line-height: 30px;
}

body {
  margin: 0;
  font-size: 20px;
  font-family: 'Avenir Next Cyr Regular';
}

img {
  max-width: 100%;
}

.button {
  text-transform: uppercase;
  text-shadow: 0 2px 21px rgba(239, 255, 252, 0.46);
  background-color: #23dcb8;
  background-image: linear-gradient(-241deg, #48d7bb 0%, #0eb595 100%);
  padding: 30px 58px;
  border: none;
  border-radius: 100px;
  color: #fff;
  font-size: 18px;
  -webkit-box-shadow: 0 12px 43px rgba(35, 220, 184, 0.31);
          box-shadow: 0 12px 43px rgba(35, 220, 184, 0.31);
  display: block;
  cursor: pointer;
}

.header {
  background: #000 url("../img/header-bg1.png") no-repeat bottom/cover;
  color: #fff;
  padding-top: 36px;
  padding-bottom: 239px;
}

.header-title {
  max-width: 641px;
  font-size: 106px;
  line-height: 110px;
  font-family: 'Bebas';
  margin-bottom: 30px;
}

.header-subtitle {
  display: block;
  font-size: 27px;
  margin-bottom: 84px;
}

.navbar {
  margin-bottom: 229px;
}

.navbar-phone {
  text-decoration: none;
  color: #fff;
}

.navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo__name {
  margin-right: 39px;
  font-size: 26px;
}

.navbar-logo__description {
  font-size: 16px;
  padding-left: 39px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar-social__item {
  width: 25px;
  padding: 0;
  margin-right: 16px;
}
/*# sourceMappingURL=style.css.map */