@font-face {
  font-family: 'Avenir Next Cyr Regular';
  src: url("../fonts/");
  src: url("../fonts/?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr Medium';
  src: url("../fonts/AvenirNextCyr-Medium.eot");
  src: url("../fonts/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.features {
  text-align: center;
  margin-bottom: 70px;
}

.features-title {
  text-transform: uppercase;
  font-family: 'Bebas';
  font-size: 40px;
  color: #1a1a1a;
  letter-spacing: 2px;
  margin-bottom: 70px;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-block__image {
  width: 90px;
  margin: 20px 0;
}

.features-block__item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.features-block__text {
  font-family: 'Avenir Next Cyr Medium';
  line-height: 30px;
}

@media (max-width: 991px) {
  .features-block__item {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

@media (max-width: 768px) {
  .features-block__item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (max-width: 576px) {
  .features-block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.about {
  margin-bottom: 80px;
}

.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f2f4f7;
  height: 600px;
}

.about-block__image {
  padding-right: 100px;
}

.about-block__items {
  margin-top: 80px;
}

.about-block__title {
  text-transform: uppercase;
  font-family: 'Bebas';
  font-size: 40px;
  color: #1a1a1a;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.about-block__text {
  max-width: 400px;
  font-family: 'Avenir Next Cyr Medium';
  line-height: 30px;
}

.about-block__button {
  text-transform: uppercase;
  margin-top: 70px;
  background-color: transparent;
  padding: 20px 58px;
  border: 2px solid #23dcb8;
  border-radius: 100px;
  color: #23dcb8;
  font-size: 18px;
  display: block;
  cursor: pointer;
}

@media (max-width: 768px) {
  .about-block img {
    display: none;
  }
}

@media (max-width: 668px) {
  .about-block {
    text-align: center;
  }
  .about-block__button {
    margin: 30px auto;
  }
}

.input {
  margin-bottom: 30px;
  font-family: 'Avenir Next Cyr Medium';
  background-color: #e8e8e8;
  border: none;
  padding: 20px 150px 20px 20px;
  border-radius: 10px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-block__title {
  text-transform: uppercase;
  font-family: 'Bebas';
  font-size: 40px;
  color: #1a1a1a;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.contacts-block__text {
  font-family: 'Avenir Next Cyr Medium';
  margin-bottom: 50px;
}

.contacts-block__name {
  margin-right: 15px;
}

.contacts-block__policy {
  font-family: 'Avenir Next Cyr Medium';
  font-size: 14px;
  color: #878787;
  margin-bottom: 30px;
}

.contacts-block__policy a {
  color: #878787;
}

.contacts-block__button {
  max-width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 668px) {
  .contacts-block {
    text-align: center;
  }
  .input {
    margin: 10px 0;
  }
}

.footer {
  background: #000 url("../img/footer.png") no-repeat bottom/cover;
  height: 800px;
  margin-top: 40px;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-block__title {
  text-transform: uppercase;
  font-family: 'Bebas';
  font-size: 40px;
  color: #fff;
  letter-spacing: 3px;
  margin: 60px 0;
}

.footer-block__link {
  display: inline-block;
  width: 75px;
  line-height: 20px;
  padding: 20px;
  margin-right: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.footer-block__copy {
  position: absolute;
  top: 750px;
  font-family: 'Avenir Next Cyr Medium';
  font-size: 14px;
  color: #878787;
}

body {
  margin: 0;
  font-size: 20px;
  font-family: 'Avenir Next Cyr Regular';
}

img {
  max-width: 100%;
}

.button {
  text-transform: uppercase;
  text-shadow: 0 2px 21px rgba(239, 255, 252, 0.46);
  background-color: #23dcb8;
  background-image: linear-gradient(-241deg, #48d7bb 0%, #0eb595 100%);
  padding: 30px 58px;
  border: none;
  border-radius: 100px;
  color: #fff;
  font-size: 18px;
  -webkit-box-shadow: 0 12px 43px rgba(35, 220, 184, 0.31);
          box-shadow: 0 12px 43px rgba(35, 220, 184, 0.31);
  display: block;
  cursor: pointer;
}

.header {
  background: #000 url("../img/header-bg1.png") no-repeat bottom/cover;
  color: #fff;
  padding-top: 36px;
  padding-bottom: 239px;
}

.header-title {
  max-width: 641px;
  font-size: 106px;
  line-height: 110px;
  font-family: 'Bebas';
  margin-bottom: 30px;
}

.header-subtitle {
  display: block;
  font-size: 27px;
  margin-bottom: 84px;
}

.navbar {
  margin-bottom: 229px;
}

.navbar-phone {
  text-decoration: none;
  color: #fff;
}

.navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo__name {
  margin-right: 39px;
  font-size: 26px;
}

.navbar-logo__description {
  font-size: 16px;
  padding-left: 39px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar-social__item {
  width: 25px;
  padding: 0;
  margin-right: 16px;
}

@media (max-width: 991px) {
  .navbar {
    text-align: center;
  }
  .navbar-logo {
    display: inline-block;
  }
  .navbar-logo__name {
    font-size: 20px;
    margin-right: 0;
  }
  .navbar-logo__description {
    font-size: 15px;
    padding-left: 0px;
    border-left: none;
  }
  .navbar-info {
    display: inline-block;
  }
  .navbar-phone {
    font-size: 20px;
  }
  .navbar-social__item:last-child {
    margin-right: 0;
  }
  .header-title {
    font-size: 50px;
    max-width: 300px;
    line-height: 60px;
  }
  .header-subtitle {
    font-size: 20px;
  }
  .button {
    padding: 20px 40px;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .header {
    background: #000 url("../img/header-bg1.png") no-repeat bottom/cover;
    background-position: left;
  }
}
/*# sourceMappingURL=style.css.map */